div{
    color:SlateBlue
}
body{
 background-image: url("https://ui-ex.com/images/sparkles-transparent-grey-3.gif")
}
h1{
    color: red;
}

h1{
    background-color: pink;
}

p {
  font-style: italic;
}




h1 {
  font-style: oblique;
}

p{
    color: black
}

forms{
    color:azure
}